<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" href="../css/nav.css" />
		<link rel="stylesheet" type="text/css" href="../css/list.css"/>
		<link rel="stylesheet" type="text/css" href="../css/foot.css"/>
		<link rel="stylesheet" href="../iconfont/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/detail.css"/>
		
	</head>
	<body>
		<div id="top"></div>
		<div class="len-main">
			<div class="len main">
				<p class="len-top">当前位置： 麦包包 > [mbaobao]奇幻假日系列手提单肩斜跨包</p>
				<div class="item-detail">
					<div class="item-left">
						<ul class="middle-pic">
							<li style="display: block;"><img src="../images/01 (1).jpg" alt="" /></li>
							<li><img src="../images/02.jpg" alt="" /></li>
							<li><img src="../images/03.jpg" alt="" /></li>
							<li><img src="../images/04 (1).jpg" alt="" /></li>
							<li><img src="../images/07.jpg" alt="" /></li>
							<li><img src="../images/06.jpg" alt="" /></li>
							<li class="len1"></li>
						</ul>
						<ul class="big-pic">
							<li style="display: block;"><img src="../images/01 (1).jpg" alt="" /></li>
							<li><img src="../images/02.jpg" alt="" /></li>
							<li><img src="../images/03.jpg" alt="" /></li>
							<li><img src="../images/04 (1).jpg" alt="" /></li>
							<li><img src="../images/07.jpg" alt="" /></li>
							<li><img src="../images/06.jpg" alt="" /></li>
						</ul>
						<p class="mouse1">鼠标移至图片上可看放大图片</p>
						<ul class="little-pic">
							<li><img src="../images/len1.jpg" alt="" /></li>
							<li><img src="../images/len2.jpg" alt="" /></li>
							<li><img src="../images/len3.jpg" alt="" /></li>
							<li><img src="../images/len4.jpg" alt="" /></li>
							<li><img src="../images/len7.jpg" alt="" /></li>
							<li><img src="../images/len6.jpg" alt="" /></li>
						</ul>
					</div>
					<div class="item-right">
						<h1>[mbaobao]奇幻假日系列手提单肩斜跨包</h1>
						<div class="item-price">
							<div class="price-left">
								<span>优惠价：</span>
								<i>¥</i>
								<b>119.00</b>
								<p>
									<a href="">【登录】</a>
									<span>享受优惠价购买</span>
								</p>
								<del>麦包价：￥269.00</del>
							</div>
							<div class="price-right">
								<img src="../images/d_03.gif" />
								<span>扫码手机购</span>
							</div>
						</div>
						<div class="agurments">
							<div>
								<p>30天内销售</p>
								<b>12</b>
							</div>
							<div>
								<p>所有评论</p>
								<b>0</b>
								<img src="../images/icon_star_5.gif" />
							</div>
						</div>
						<div class="item-color">
							<em>颜色:</em>
							<a href="#" class="color-price"><img src="../images/01.jpg"/></a>
							<a href="#" class="color-price"><img src="../images/01 (2).jpg"/></a>
							<div class="now-buy">
								<a href="#"></a>
								<a href="#"></a>
							</div>
							<p>
								<b>服务承诺：</b>
								<i> 24小时发货 10天无条件退换货 100%正品保证</i>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-main">
			<div class="contant main">
				<div class="content-top">
					<p class="cont-detail">
						<a href="#" class="show-box-all">商品详情</a
						><a href="#" class="item-goods-comment-all">购买评论</a
						><a href="#" class="item-goods-ensure-all">购物保障</a>
					</p>
					<p>
						<i>¥</i>
						<b>119.00</b>
						<a href="#">立即购买</a>
					</p>
				</div>
			</div>
		
		
			<div class="show-box main">
				<div class="products-detail">
					<p>商品信息</p>
					<div class="detail-mock">
						<script type="text/html" id="details">
							<%
								for (var i = 0; i < detailsList.length; i++) {
									var detail = detailsList[i];
							%>
							<ul>
								<li><%= detail.n1%></li>
								<li><%= detail.n2%></li>
								<li><%= detail.n3%></li>
								<li><%= detail.n4%></li>
								<li><%= detail.n5%></li>
								<li><%= detail.n6%></li>
							</ul>
							<%
							}
							%>
						</script>
					</div>
				</div>
				<div class="detai-bigpic">
					<img src="../images/detail1.jpg" />
					<img src="../images/detail2.jpg" />
					<img src="../images/detail3.jpg" />
					<img src="../images/detail4.jpg" />
					<img src="../images/detail5.jpg" />
					<img src="../images/detail6.jpg" />
					<img src="../images/detail7.jpg" />
					<img src="../images/detail8.jpg" />
					<img src="../images/detail9.jpg" />
					<img src="../images/detail10.jpg" />
					<img src="../images/detail11.jpg" />
					<img src="../images/detail12.jpg" />
					<img src="../images/detail13.jpg" />
					<img src="../images/detail14.jpg" />
					<img src="../images/detail15.jpg" />
				</div>
			</div>
			<div class="item-goods-comment main" style="display: none;">
				
				<p class="buy-compare">购买评论</p>
				<div class="compare-view">
					<ul>
						<li>好评率</li>
						<li>0.00%</li>
					</ul>
					<ul>
						<li>
							<i>好评：</i>
							<span></span>
							<em>  0.00%</em>
						</li>
						<li>
							<i>中评：</i>
							<span></span>
							<em>  0.00%</em>
						</li>
						<li>
							<i>差评：</i>
							<span></span>
							<em>  0.00%</em>
						</li>
					</ul>
					<ul>
						<li>
							<i>质量：</i>
							<b>0.00%</b>
							<em>非常好</em>
						</li>
						<li>
							<i>款式：</i>
							<b>0.00%</b>
							<em>还不错，很实用</em>
						</li>
						<li>
							<i>性价比：</i>
							<b>0.00%</b>
							<em>高</em>
						</li>
						<li>
							<i>色差：</i>
							<b>0.00%</b>
							<em>无色差</em>
						</li>
					</ul>
				</div>
				<div class="compare-view-bottom">
					<ul class="compare-all">
						<li><a href="#">全部评论<i>(0)</i></a></li>
						<li><a href="#">中评<i>(0)</i></a></li>
						<li><a href="#">差评<i>(0)</i></a></li>
						<li>以下评论均来自购买的麦友</li>
					</ul>
				</div>
				<div class="page-on">
					<p>
						<i>共有<span>0</span>条评论</i>
						<a href="#">第一页</a>
						<a href="#">第二页</a>
					</p>
				</div>
				
			</div>
			
			<div class="item-goods-ensure main" style="display: none">
				<p class="buy-compare">购物保障</p>
				<div class="module-serve">
					<img src="../images/serve_01.png" />
					<img src="../images/serve_02.png" />
					<img src="../images/serve_03.png" />
				</div>
				<div class="afterbuy">
					<img src="../images/afterbuy.jpg" />
				</div>		
			</div>
			
			<div class="line main"></div>
		
	</div>	


		<div class="footer-main"></div>

		<!--<script src="../lib/requirejs/require.js" data-main="../js/datail"></script>-->
		<script src="../lib/jquery/jquery-1.12.4.min.js"></script>
		<script src="../lib/arttemplate/template-native.js"></script>	
		
		<script src="../js/datail.js"></script>
		<script src="../js/nav-ajax.js"></script>
		<script src="../js/footer.js"></script>
		
		
		
		
	</body>
</html>
